
.row {
  background-color: rgb(20, 20, 20);
  color: #fff;
}

.title {
  font-size: 1.2rem;
}

.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

.poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 5px;
  transition: transform 0.2s ease;
}
.posters::-webkit-scrollbar {
  display: none;
}
.poster:hover {
  transform: scale(1.08);
}

.largePoster {
  max-height:50%;
} 

